<div class="date-range">
    

    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg-from">{{ _("From") }}</span>
        </div>
        <input type="date" name="{{ selector_id }}-from" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        
        <span class="input-group-text input-group-text-middle" id="inputGroup-sizing-lg-from">{{ _("To") }}</span>
        
        <input type="date" name="{{ selector_id }}-to" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>

</div>